@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  @apply bg-neutral-900 text-white;
}

html {
  @apply overscroll-none;
}

body {
  @apply select-none cursor-default overflow-hidden;
}

button {
  cursor: pointer;
}
